.AppHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 4px 0 0 0;
  gap: 16px;
}

.AppHeader-brand {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  padding: 4px 8px;
}

.AppHeader-brand img {
  height: 32px;
}

.AppHeader-title {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.AppHeader-nav {
  display: flex;
  align-items: center;
}

.AppHeader button {
  border: none;
  background-color: black;
  padding: 8px 12px;
}
/* turns the white SVG orange */
.AppHeader button img {
  filter: invert(39%) sepia(31%) saturate(6521%) hue-rotate(351deg) brightness(100%) contrast(94%);
}

.AppHeader button:disabled {
  border: 0px;
  outline: none;
  background-color: white;
}
/* turns the white SVG black */
.AppHeader button:disabled img {
  filter: brightness(0%);
}