.AppHeader {
  background-color: black;
}

.AppHeader-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  gap: 16px;
}

.AppHeader-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.AppHeader-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.AppHeader-right .btn {
  background-color: #1f2329;
  border-color: #1f2329;
  color: white;
}

.AppHeader-right .btn:hover {
  background-color: #2a3038;
  border-color: #2a3038;
  color: white;
}

.AppHeader-brand {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  padding: 0px 8px;
}

.AppHeader-brand img {
  height: 45px;
}

.AppHeader-title {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.AppHeader-nav {
  display: flex;
  align-items: center;
}

.AppHeader button {
  border: none;
  background-color: black;
  padding: 8px 12px;
}
/* turns the white SVG orange */
.AppHeader button img {
  filter: invert(39%) sepia(31%) saturate(6521%) hue-rotate(351deg) brightness(100%) contrast(94%);
}

.AppHeader button:disabled {
  border: 0px;
  outline: none;
  background-color: white;
}
/* turns the white SVG black */
.AppHeader button:disabled img {
  filter: brightness(0%);
}